
.VolumesList {
	list-style: none;
	 display: flex;
	 flex-flow: row wrap;
	 justify-content: space-around;
}

.VolumesList-item {
	padding: 5;
	margin: 0;
	width: 33%;
	background: tomato;
	margin-top: 10px;
	min-height: 230px;
	font-weight: bold;
	font-size: 1em;
	text-align: center;
}